@import "tailwind";
@import "colors";
@import "image";
@import "link";
@import "paragraph";

html,
body {
  @apply bg-body;
  @apply text-body-text-primary;
  @apply text-base;

  font-family: "Cardo", serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
