.homeHeading {
  @apply text-3xl;

  $positions: 1 2 3;
  @each $position in $positions {
    > span:nth-of-type(#{$position}) {
      animation-delay: #{$position * 0.5}s;
    }
  }
}

.mediaLinks {
  > a {
    @apply text-3xl;
    text-decoration: none;
  }

  > a:not(:last-child) {
    @apply mr-4;
  }
}

.linkDescription {
  display: none;
}
